@import url('https://fonts.googleapis.com/css?family=Sigmar+One&display=swap');

body {
  background-color: black;
  font-family: 'Sigmar One', cursive;
  color: #156377;
  text-align: center;
}

#game-panel {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 50px 0;
}

aside div {
  font-size: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  cursor: pointer;
  border: 1px solid #156377;
  border-radius: 5px;
  padding: 10px 13px;
}

aside div:hover {
  background-color: #156377;
  color: #b9dcdd;
}

aside {
  display: flex;
  background-color: #b9dcdd;
  padding: 25px 25px;
  height: 50px;
  width: 850px;
  justify-content: space-around;
  align-items: center;
}

h1 {
  margin: 0;
  background-color: #156377;
  color: white;
  padding: 15px 13px;
  border-radius: 5px;
}

aside > img {
  width: 50px;
}
span {
  padding-left: 10px;
}

#btn-start img {
  color: bisque;
}

#btn-stop img {
  color: red;
}
