@import url('https://fonts.googleapis.com/css?family=Sigmar+One&display=swap');

body {
  background-color: #156377;
  font-family: 'Sigmar One', cursive;
  color: #156377;
  text-align: center;
  box-sizing: border-box;
}

.btn {
  font-size: 20px;
  cursor: pointer;
  border: 1px solid #156377;
  border-radius: 5px;
  padding: 0.75em 1em;
}

.btn:hover {
  background-color: #156377;
  color: #b9dcdd;
}

.btn > img {
  padding-right: 0.5em;
}

aside {
  display: flex;
  background-color: #b9dcdd;
  width: calc(900px - 2em);
  margin: 0 auto;
  justify-content: space-around;
  align-items: center;
  padding: 1em;
}

#score {
  margin: 0;
  width: 80px;
  background-color: #156377;
  color: white;
  padding: 1em 1.25em;
  border-radius: 5px;
  display: flex;
  justify-content: space-evenly;
}

#score img {
  width: 25px;
}

span {
  font-size: 20px;
}

aside > img {
  width: 50px;
}

